/* reset margin, padding */
body {
  margin: 0 !important;
  padding: o !important;
}
.red {
  border: 1px solid red;
}
.green {
  border: 1px solid green;
}
.header {
  height: 500px;
  background: url("./images/1.jpg") center center;
  padding: 20px;
}
.about-sign-in {
  height: 80px;
  width: 100%;
  text-align: right;
  text-transform: uppercase;
}
.about,
.sign-in {
  margin-top: 20px;
  padding: 7px 15px;
  text-decoration: none;
  display: inline-block;
}
.sign-in {
  margin-right: 60px;
  margin-left: 25px;
  border-radius: 20px;
  color: green;
}
.logo {
  background: url("./images/hapoERP.png");
  margin-top: 40px;
  
}
